<h1 mat-dialog-title>Thêm chi tiết sản phẩm</h1>

<div mat-dialog-content class="example-container" style="display: flex; flex-wrap: wrap;">
  <div class="column">
    <mat-form-field appearance="outline">
      <mat-label>Sản phẩm</mat-label>
      <mat-select [(ngModel)]="IdProduct" (keydown)="revoveInvalid(validProduct)" (blur)="validateProduct()">
        <mat-option *ngFor="let prd of product" [value]="prd.id">
          {{prd.name}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validProduct.done">
        <p class="validate-input-label" *ngIf="validProduct.empty">Vui lòng chọn sản phẩm</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Màu sắc</mat-label>
      <mat-select [(ngModel)]="IdColor" (keydown)="revoveInvalid(validColor)" (blur)="validateColor()">
        <mat-option *ngFor="let cl of color" [value]="cl.id">
          {{cl.name}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validColor.done">
        <p class="validate-input-label" *ngIf="validColor.empty">Vui lòng chọn màu sắc</p>
      </div>
    </mat-form-field>
  </div>

  <div class="column">
    <mat-form-field appearance="outline">
      <mat-label>Kích cỡ</mat-label>
      <mat-select [(ngModel)]="IdSize" (keydown)="revoveInvalid(validSize)" (blur)="validateSize()">
        <mat-option *ngFor="let sz of size" [value]="sz.id">
          {{sz.sizeNumber}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validSize.done">
        <p class="validate-input-label" *ngIf="validSize.empty">Vui lòng chọn kích cỡ</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Số lượng</mat-label>
      <input [(ngModel)]="quantity" name="quantity" matInput placeholder="Số lượng"
        (keydown)="revoveInvalid(validQuantity)" (blur)="validateQuantity()">
      <div class="validate-input" *ngIf="!validQuantity.done">
        <p class="validate-input-label" *ngIf="validQuantity.empty">Vui lòng nhập số lượng</p>
      </div>
    </mat-form-field>
  </div>

  <div class="column">
    <mat-radio-group [(ngModel)]="shoeCollar" name="shoeCollar">
      <mat-label style="margin-right: 10px;">Cổ giày</mat-label>
      <mat-radio-button [value]="0" style="margin-right: 5px;">Cổ thấp</mat-radio-button>
      <mat-radio-button [value]="1" style="margin-left: 5px;">Cổ cao</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="column">
    <mat-form-field appearance="outline">
      <mat-label>Giá</mat-label>
      <input [(ngModel)]="price" name="price" matInput placeholder="Giá"
        (keydown)="revoveInvalid(validPrice)" (blur)="validatePrice()">
      <div class="validate-input" *ngIf="!validPrice.done">
        <p class="validate-input-label" *ngIf="validPrice.empty">Vui lòng nhập giá tiền</p>
      </div>
    </mat-form-field>
  </div>
</div>

<br>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
  <button mat-raised-button color="primary" (click)="clickadd()">Thêm</button>
</div>