mat-form-field{
  width: 100%;
}
.validate-input {
  margin: 5px 0 0 !important;
  color: red;
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
}
.validate-input-label {
  margin: 5px 0 0 !important;
  color: red;
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
}
