<div class="container my-5">
  <div class="row">
    <div class="col-md-5">
      <div class="main-img">
        <img src="{{product?.imageURL}}">
      </div>
    </div>
    <div class="col-md-7">
      <div class="main-description px-2">
        <div class="product-title text-bold my-3" style="font-weight: 700;">
          {{product?.name}}
        </div>

        <div class="new-price" style="font-size: 25px" *ngIf="minPrice == maxPrice">
          <span>{{maxPrice| number:'1.0-0'}} đ</span>
        </div>

        <div class="new-price" style="font-size: 25px" *ngIf="minPrice !== maxPrice && !bothSizeAndColorSelected==true">
          <span>{{minPrice| number:'1.0-0'}} đ - {{maxPrice| number:'1.0-0'}} đ</span>
          <!-- <span>{{ utilService.formatMoney(minPrice) }} - {{ utilService.formatMoney(maxPrice) }}</span> -->
        </div>

        <div class="new-price" style="font-size: 25px" *ngIf="minPrice !== maxPrice &&bothSizeAndColorSelected==true">
          <span>{{utilService.formatMoney( (getProductDetailprice() == null) ? product?.totalQuantity :
            getProductDetailprice() )}}</span>
        </div>

        <div class="product-details my-2">
          <div class="d-flex" style="display: flex; gap: 20px; align-items: center;">
            <p class="details-title text-color mb-1">Size : </p>
            <div *ngFor="let size of listSize">
              <input class="custom-radio" type="radio" name="size" [id]="'size' + size.id" [value]="size.id"
                [(ngModel)]="sizeId" [disabled]="size.disabled" (change)="onSizeChange(size)">
              <label class="custom-radio-label" [for]="'size' + size.id">{{ size.sizeNumber }}</label>
            </div>
          </div>
        </div>

        <div class="product-details my-2" style="margin-top: 10px !important;">
          <div class="d-flex" style="display: flex; gap: 20px; align-items: center;">
            <p class="details-title text-color mb-1">Màu Sắc : </p>
            <div *ngFor="let color of listColor">
              <input class="custom-radio" type="radio" name="color" [id]="'color' + color.id" [value]="color.id"
                [(ngModel)]="colorId" [disabled]="color.disabled" (change)="onColorChange(color)">
              <label class="custom-radio-label" [for]="'color' + color.id">{{ color.name }}</label>
            </div>
          </div>
        </div>

        <div class="product-details my-2">
          <p class="details-title text-color mb-1" *ngIf="getProductDetailQuantity() != 0">Số lượng :
            {{(getProductDetailQuantity() == -1 || getProductDetailQuantity()== null) ? product?.totalQuantity :
            getProductDetailQuantity()}}</p>
          <div class="details-title text-color mb-1" style="color: red" *ngIf="getProductDetailQuantity() === 0">Hết
            hàng</div>
        </div>

        <div class="wrap-num-product flex-w m-r-20 m-tb-10 flex-w flex-r-m p-b-10"
          *ngIf="bothSizeAndColorSelected == true">
          <button type="button" class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"
            [style.cursor]="quantityBuy > 1? 'pointer':'not-allowed'" (click)="giamSoLuong();"
            [disabled]="quantityBuy <= 1">
            <i class="fa-solid fa-minus"></i>
          </button>

          <input style="width: 30px;height: 30px;" class="mtext-104 cl3 txt-center num-product" type="number"
            name="num-product" [(ngModel)]="quantityBuy" (ngModelChange)="checkQuantity()" />

          <button type="button" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"
            [style.cursor]="quantityBuy< getProductDetailQuantity()? 'pointer':'not-allowed'" (click)="tangSoLuong();"
            [disabled]="quantityBuy >= getProductDetailQuantity()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>

        <div class="validate-input" *ngIf="validQuantityBuy">
          <p class="validate-input-label" *ngIf="validQuantityBuy">{{validQuantityBuyMess}}</p>
        </div>

        <div class="btn-groups">
          <button class="add-cart-btn" style="border-radius: 5px"
            [disabled]="bothSizeAndColorSelected === false || this.validQuantityBuy"
            [style.opacity]="(bothSizeAndColorSelected === false || this.validQuantityBuy) ? '0.5': ''"
            (click)="addToCart(product.id)"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
          <button class="buy-now-btn" style="border-radius: 5px"
            [disabled]="bothSizeAndColorSelected === false || this.validQuantityBuy"
            [style.opacity]="(bothSizeAndColorSelected === false || this.validQuantityBuy) ? '0.5': ''"
            (click)="buyNow(product.id);"><i class="fas fa-wallet"></i>Mua ngay</button>
        </div>

        <div style="margin-top: 25px; width: 380px;">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button style="font-weight:500;" class="nav-link active" id="tab1-tab" data-bs-toggle="tab"
                data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Chi tiết sản
                phẩm</button>
            </li>
            <li class="nav-item" role="presentation">
              <button style="font-weight:500;" class="nav-link" id="tab2-tab" data-bs-toggle="tab"
                data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Mô tả sản
                phẩm</button>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab"
              style="font-weight:500;margin-top: 20px;">
              <label>Thương Hiệu : </label> {{product?.brandDTO?.name}} <br>
              <label>Loại : </label> {{product?.categoryDTO?.name}} <br>
              <label>Chất liệu: </label> {{product?.materialDTO?.name}} <br>
              <label>Độ cao của đế giày: </label> {{product?.soleDTO?.soleHeight}} cm (Chất liệu:
              {{product?.soleDTO?.soleMaterial}}) <br>
              <label *ngIf="showShoeCollar">Cổ giày : </label>
              <span *ngIf="showShoeCollar"> {{ shoeCollar === 1 ? 'Cổ cao' : 'Cổ thấp' }}</span>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab"
              style="font-weight:500;margin-top: 20px;">
              <label>Mô tả : </label> {{product?.description}} <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container similar-products my-4">
    <hr>
    <p class="display-5">Sản Phẩm Tương Tự</p>

    <div class="row">
      <div class="col-3" style="display: flex; gap: 10px" *ngFor="let p of listProductTuongTu">
        <div class="card" style="width: 18rem;">
          <a [routerLink]="['/product-details',p?.id]">
            <img style="width: 220px; height: 220px" (mouseenter)="onMouseEnter(p)" (mouseleave)="onMouseLeave(p)"
              [src]=" p.imageURL" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{p.name}}</h5>
            <div>
              <div style="font-size: 18px;font-weight: 600;color: red;" *ngIf="p?.minPrice == p?.maxPrice">
                <span>{{p?.minPrice| number:'1.0-0'}} đ</span>
              </div>
              <div style="font-size: 18px;font-weight: 600;color: red;" *ngIf="p?.minPrice != p?.maxPrice">
                <span>{{p?.minPrice| number:'1.0-0'}} đ - {{p?.maxPrice| number:'1.0-0'}} đ</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>