<div class="login_form ">
  <div class="left">
    <img src="assets/image/logshoes.png">
  </div>

  <div class="right">
    <h1>Đặt lại mật khẩu</h1>
    <form (ngSubmit)="resetPass()">
      <p>Mật khẩu mới</p>
      <div class="password">
        <i class="fa-solid fa-lock"></i>
        <input type="{{ showPassword ? 'text' : 'password' }}" name="password" placeholder="Mật khẩu mới" class="username" [(ngModel)]="infoCusotmer.newPass" (keydown)="revoveInvalid(validReceivernewPassword)" (blur)="validateReceivernewPassword()">
        <a class="btn" (click)="togglePasswordVisibility()"><i class="fa-solid fa-eye"></i></a>
      </div>
      <div class="validate-input" *ngIf="!validReceivernewPassword.done">
        <div class="validate-input" *ngIf="!validReceivernewPassword.done">
          <p class="validate-input-label" *ngIf="validReceivernewPassword.empty">Mật khẩu không để trống</p>
          <p class="validate-input-label" *ngIf="validReceivernewPassword.maxLength">Mật khẩu tối đa 50 kí tự</p>
          <p class="validate-input-label" *ngIf="validReceivernewPassword.regex">Mật khẩu bắt đầu bằng chữ có ít nhất một chứ cái in hoa
            <br> có ít nhất 1 số, <br>
            có ít nhất 1 kí tự đặc biệt <br> và có ít nhất 8 ký tự</p>
          <p class="validate-input-label" *ngIf="validReceivernewPassword.space">Mật khẩu không được chứa dấu cách</p>
          <p class="validate-input-label" *ngIf="validReceivernewPassword.UTF8">Mật khẩu bắt đầu bằng chữ thường không dấu</p>
        </div>
      </div>
      <p class="passworg_tag">Xác nhận mật khẩu</p>
      <div >
        <div class="password">
          <i class="fa-solid fa-lock"></i>
          <input type="{{ showPasswordConfirm ? 'text' : 'password' }}" name="reNewPass" placeholder="Nhập lại Mật Khẩu Mới" (change)="validateConfirmPass()" required (keydown)="revoveInvalid(validReceiverPassword)" (blur)="validateReceiverPassword()" [(ngModel)]="rePass">
          <a class="btn" (click)="togglePasswordVisibilitConfirm()"><i class="fa-solid fa-eye"></i></a>
        </div>
        <div class="validate-input" *ngIf="validConfirm === false && !validReceiverPassword.done">
          <p class="validate-input-label">Mật khẩu nhập lại không chính xác</p>
        </div>
      </div>
      <div class="d-flex">
        <p class="sign-up">
          Bạn đã có tài khoản ?
        </p>
        <p class="forget">
          <a href="/login">Đăng nhập</a>
        </p>
      </div>
      <button type="submit">Xác Nhận</button>
    </form>

  </div>

</div>

