<div style="margin: 0; padding: 0;" class="bg-white" id="sidebar-wrapper">

  <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
    PulseWave
  </div>

  <div class="list-group list-group-flush my-5">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <!-- Đơn Hàng -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle list-group-item list-group-item-action bg-transparent second-text fw-bold"
                href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Đơn Hàng
              </a>
              <ul class="dropdown-menu" style="border: none">
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/order-list">Danh sách đơn hàng</a>
                </li>
              </ul>
            </li>

            <!-- Thuộc tính sản phẩm -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle list-group-item list-group-item-action bg-transparent second-text fw-bold"
                href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sản phẩm
              </a>
              <ul class="dropdown-menu" style="border: none">
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/degiay">Đế Giày</a>
                </li>
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/mausac">Màu Sắc</a>
                </li>
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/kichco">Kích Cỡ</a>
                </li>
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/chatlieu">Chất Liệu</a>
                </li>
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/thuonghieu">Thương Hiệu</a>
                </li>
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/danh-muc">Danh Mục</a>
                </li>
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/san-pham">Sản phẩm</a>
                </li>
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/chi-tiet-san-pham">Chi tiết sản phẩm</a>
                </li>
              </ul>
            </li>

            <!-- Khuyến Mại -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle list-group-item list-group-item-action bg-transparent second-text fw-bold"
                href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Khuyến Mại
              </a>
              <ul class="dropdown-menu" style="border: none">
                <!-- <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/admin/discount">Giảm Giá</a>
                </li> -->
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                  (click)="phanQuyenVoucher()">Voucher</a>
                  <!-- <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/voucher">Voucher</a> -->
                </li>
                <li>
                  <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                  (click)="phanQuyenVoucherFreeShip()">Voucher FreeShip</a>
                  <!-- <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/voucherFS">Voucher FreeShip</a> -->
                </li>
              </ul>
            </li>

            <!-- Báo Cáo Thông Kê -->
            <li class="nav-item">
              <a href="/thong-ke" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                Báo cáo thống kê
              </a>
            </li>

            <!-- Quản lý User -->
            <li class="nav-item dropdown">
              <a class="dropdown-toggle list-group-item list-group-item-action bg-transparent second-text fw-bold"
                href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Quản lý nhân viên
              </a>
              <ul class="dropdown-menu" style="border: none">
                <li>
                  <a class="btn dropdown-item list-group-item list-group-item-action bg-transparent second-text" (click)="phanQuyenStaff()">Nhân Viên</a>
                  <!-- <a class="dropdown-item list-group-item list-group-item-action bg-transparent second-text"
                    href="/staff">Nhân Viên</a> -->
                </li>
              </ul>
            </li>

            <!-- Logout -->
            <li class="nav-item">
              <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
                (click)="logOut()">
                <i class="fas fa-power-off me-2"></i>
                Đăng xuất
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>