.form-group {
  margin-bottom: 15px;
  padding: 10px;
}
input {
  border: none;
  border-bottom: 1px solid #f3dfdf;
  outline: none;
}
input:focus {
  border-bottom: 2px solid #fdfdfd;
}
.form-select{
  border: none;
  border-bottom: 1px solid #f3dfdf;
  outline: none;
}
.img-thumbnail{
  width: 200px;
  height: 200px;
}
.validate-input {
  margin: 5px 0 0 !important;
  color: red;
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
}
.validate-input-label {
  margin: 5px 0 0 !important;
  color: red;
  font-size: 12px;
  line-height: 10px;
  font-weight: 500;
}



