<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Voucher FreeShip</h3>
          </div>
            <div class="form-group" >
              <input
                type="date"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
                id="id"
                [(ngModel)]="voucher.id"
                [hidden]="isHidden"
              />
            </div>
          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="name">Tên</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="voucher.name"
                      placeholder="Tên"
                      (keydown)="revoveInvalid(validName)" (blur)="validateName()"
                    />
                    <div class="validate-input" *ngIf="!validName.done" >
                      <p class="validate-input-label" *ngIf="validName.empty">Tên không để trống</p>
                      <p class="validate-input-label" *ngIf="validName.maxLength">Tên tối đa 250 kí tự</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="startDate">Ngày bắt đầu</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      [ngModelOptions]="{ standalone: true }"
                      id="startDate"
                      [(ngModel)]="voucher.startDate"
                      name="startDate"
                      (blur)="isStartDateValid()"
                      (keydown)="removeCheckStartDate()"
                    />
                    <div>
                      <div class="validate-input-label" *ngIf="checkStartDateNull">
                        Vui lòng chọn ngày bắt đầu.
                      </div>
                      <div class="validate-input-label" *ngIf="checkStartDate">
                        Ngày bắt đầu phải lớn hơn hoặc bằng ngày hiện tại.
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="endDate">Ngày kết thúc</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      [ngModelOptions]="{ standalone: true }"
                      id="endDate"
                      [(ngModel)]="voucher.endDate"
                      name="endDate"
                      required
                      (blur)="isEndDateValid()"
                      (keydown)="removeCheckEndDate()"
                    />
                    <div>
                      <div class="validate-input-label" *ngIf="checkEndDateNull">
                        Vui lòng chọn ngày kết thúc.
                      </div>
                      <div class="validate-input-label" *ngIf="checkEndDate">
                        Ngày kết thúc phải lớn hơn ngày bắt đầu .
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description">Nội dung</label>
                    <input
                      type="text"
                      class="form-control"
                      id="description"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="voucher.description"
                      placeholder="Nội dung"
                      (keydown)="revoveInvalid(validDescription)" (blur)="validateDescription()"
                    />
                    <div class="validate-input" *ngIf="!validDescription.done" >
                      <p class="validate-input-label" *ngIf="validDescription.empty">Nội dung không để trống</p>
                      <p class="validate-input-label" *ngIf="validDescription.maxLength">Nội dung tối đa 250 kí tự</p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Điều kiện sử dụng</label>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <input
                            type="number"
                            class="form-control"
                            id="condition"
                            [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="voucher.conditionApply"
                            placeholder="Giá trị đơn hàng"
                            (keydown)="revoveInvalid(validconditionApply)" (blur)="validateConditionApply()"
                          />
                          <div class="validate-input" *ngIf="!validconditionApply.done" >
                            <p class="validate-input-label" *ngIf="validconditionApply.empty">Điều kiện sử dụng không để trống</p>
                            <p class="validate-input-label" *ngIf="validconditionApply.regex">Điều kiện sử dụng phải là số dương</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group" >
                    <label for="reducedValue">Giá trị giảm</label>
                    <input
                      type="number"
                      class="form-control"
                      id="reducedValue"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="voucher.reducedValue"
                      placeholder="Giá trị giảm"
                      [max]="voucher.voucherType === '1' ? 100 : null"
                      (keydown)="revoveInvalid(validReducedValue)" (blur)="validateReducedValue()"
                    />
                    <div *ngIf="voucher.voucherType === '0' && voucher.voucherType > 100 " class="text-danger">
                      Giá trị giảm không được quá 100%
                    </div>
                    <div class="validate-input" *ngIf="!validReducedValue.done" >
                      <p class="validate-input-label" *ngIf="validReducedValue.empty">Giá trị giảm không để trống</p>
                      <p class="validate-input-label" *ngIf="validReducedValue.regex">Giá trị giảm phải là số dương</p>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="quantity">Số lượng</label>
                    <input
                      type="number"
                      class="form-control"
                      id="quantity"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="voucher.quantity"
                      placeholder="Số lượng"
                      (keydown)="revoveInvalid(validQuantity)" (blur)="validateQuantity()"
                    />
                    <div class="validate-input" *ngIf="!validQuantity.done" >
                      <p class="validate-input-label" *ngIf="validQuantity.empty">Số lượng không để trống</p>
                      <p class="validate-input-label" *ngIf="validQuantity.regex">Số lượng phải lớn hơn 0</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="optionCustomer">Khách hàng áp dụng</label>
                    <select
                      class="form-control"
                      id="kkad"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="voucher.optionCustomer"
                    >
                      <option value="0" selected>Tất cả khách hàng</option>
                      <option value="1">Tùy chọn</option>
                      <!-- Thêm các loại voucher khác nếu cần -->
                    </select>
                  </div>
                </div>

                <div class="form-group" *ngIf="voucher.optionCustomer == 1">
                  <label for="customer">Khách hàng</label>
                  <div class="grid">
                    <ag-grid-angular
                      style="width: 100%; height: 300px"
                      class="ag-theme-balham"
                      [rowData]="rowData"
                      [columnDefs]="columnDefs"
                      [rowSelection]="rowSelection"
                      [headerHeight]="headerHeight"
                      [rowHeight]="rowHeight"
                      [pagination]="true"
                      [paginationPageSize]="5"
                      [domLayout]="'autoHeight'"
                      (gridReady)="onGridReady($event)"
                    ></ag-grid-angular>
                  </div>
                </div>
                <div class="form-group" *ngIf="voucher.optionCustomer == 1">
                  <label for="limitCustomer">Giới hạn số lần sử dụng với mỗi khách hàng</label>
                  <input
                    type="number"
                    class="form-control"
                    id="limitCustomer"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="voucher.limitCustomer"
                    placeholder="Số lần sử dụng"
                  />
                  <div *ngIf="!voucher.limitCustomer" >
                    <div *ngIf="!voucher.limitCustomer">Vui lòng nhập giới hạn sử dụng.</div>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" (click)="editVoucher()">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
