<h1 mat-dialog-title>Thêm danh mục</h1>

<div mat-dialog-content class="example-container">

  <mat-form-field appearance="outline">
    <mat-label>Tên danh mục</mat-label>
    <input
      [(ngModel)]="Name"
      name="Name"
      matInput
      placeholder="Tên danh mục"
      (keydown)="revoveInvalid(validName)"
      (blur)="validateName()"
    />
    <div class="validate-input" *ngIf="!validName.done">
      <p class="validate-input-label" *ngIf="validName.empty">
        Tên không được để trống
      </p>
      <p class="validate-input-label" *ngIf="validName.maxLength">
        Tên màu sắc 250 kí tự
      </p>
    </div>
  </mat-form-field>

  <mat-radio-group [(ngModel)]="Status" name="Status">
    <mat-label style="margin-right: 10px;">Trạng thái</mat-label>
    <mat-radio-button [value]="0" style="margin-right: 5px;">Hoạt động</mat-radio-button>
    <mat-radio-button [value]="1" style="margin-left: 5px;">Ngừng hoạt động</mat-radio-button>
  </mat-radio-group>
</div>

<br>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
  <button mat-raised-button color="primary" (click)="clickadd()">Thêm</button>
</div>
