<div class="container" style="margin-bottom: 20px;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    VNPay Payment Result
                </div>
                <div class="card-body">
                    <h5 class="card-title">Trạng thái thanh toán</h5>
                    <p class="card-text">
                        Thanh toán của bạn là:
                        {{ paymentResult === 'success' ? 'Hoàn thành' : 'Không thành công' }}
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="return()" class="btn btn-primary">Quay lại</a>
                    <!-- <a href="http://localhost:4000/cart/checkout-detail" class="btn btn-primary">Quay lại</a> -->
                </div>
            </div>
        </div>
    </div>
</div>