<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Voucher FreeShip Chi Tiết</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Tên</th>
                  <td>{{ voucherShip.name }}</td>
                </tr>
                <tr>
                  <th scope="row">Nội dung</th>
                  <td>{{ voucherShip.description }}</td>
                </tr>
                <tr>
                  <th scope="row">Ngày bắt đầu</th>
                  <td>{{ util.format(voucherShip.startDate) }}</td>
                </tr>
                <tr>
                  <th scope="row">Ngày kết thúc</th>
                  <td>{{ util.format(voucherShip.endDate) }}</td>
                </tr>
                <tr>
                  <th scope="row">Điều kiện áp dụng</th>
                  <td>{{ voucherShip.conditionApply }}</td>
                </tr>

                <tr>
                  <th scope="row">Giá trị giảm</th>
                  <td>{{ voucherShip.reducedValue }}</td>
                </tr>

                <tr>
                  <th scope="row">Số lượng</th>
                  <td>{{ voucherShip.quantity }}</td>
                </tr>
                <tr *ngIf="voucherShip.optionCustomer === 1">
                  <th scope="row">
                    Giới hạn số lần sử dụng của mỗi khách hàng
                  </th>
                  <td>{{ voucherShip.limitCustomer }}</td>
                </tr>
                <tr>
                  <th scope="row">Người tạo</th>
                  <td>{{ voucherShip.createName }}</td>
                </tr>
                <tr>
                  <th scope="row">Ngày tạo</th>
                  <td>{{ util.formatDateTime(voucherShip.createDate) }}</td>
                </tr>
                <tr>
                  <th scope="row">Khách hàng</th>
                  <td>
                    <ul *ngIf="
                        voucherShip.customerAdminDTOList &&
                          voucherShip.customerAdminDTOList.length > 0;
                        else noCustomers
                      ">
                      <li *ngFor="let c of voucherShip.customerAdminDTOList">
                        {{ c.code }} - {{ c.fullname }}
                      </li>
                    </ul>
                    <ng-template #noCustomers> Tất cả khách hàng </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>