<div class="login_form ">
  <div class="left">
    <img src="assets/image/logshoes.png">
  </div>
  <div class="right">
    <h1>Quên Mật Khẩu</h1>
    <form (ngSubmit)="isOTPSent ? verifyOTP() : sendMailOTP()">
      <p>Email của bạn! </p>
      <div class="user mb-2">
        <i class="fa-solid fa-user"></i>
        <input type="text" name="email" placeholder="Email" (keydown)="revoveInvalid(validEmail)" (blur)="validateEmail()" class="username" [(ngModel)]="infoCustomer.email">
      </div>
      <div class="validate-input" *ngIf="!validEmail.done">
        <p class="validate-input-label" *ngIf="validEmail.empty">Tên đăng nhập không để trống</p>
        <p class="validate-input-label" *ngIf="validEmail.maxLength">Email tối đa 250 kí tự</p>
        <p class="validate-input-label" *ngIf="validEmail.regex">Email Không đúng định dạng</p>
      </div>
      <p class="passworg_tag" *ngIf="isOTPSent">Mã OTP</p>
      <div>
        <div class="password mb-2" *ngIf="isOTPSent" style="width: 350px">
          <i class="fa-solid fa-lock"></i>
          <input type="text" name="otp" placeholder="OTP" [(ngModel)]="infoCustomer.otp">
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100px; font-size: 14px">
          {{ isOTPSent ? 'Xác Nhận' : 'Gửi OTP' }}
        </button>
      </div>
      <div class="d-flex">
        <p class="sign-up">
          Bạn đã có tài khoản ?
        </p>
        <p class="forget">
          <a href="/login">Đăng nhập</a>
        </p>
      </div>
    </form>
  </div>
</div>

