<div class="row my-5" style="margin-left: 5px;">

  <div class="col">
    <a (click)="openAdd()" class="btn btn-primary" style="margin-bottom: 10px">Thêm sản phẩm</a>
  </div>

  <mat-tab-group>
    <mat-tab label="Tất cả">
      <div style="margin-bottom: 30px;margin-top: 30px;border-radius: 5px;">
        <input type="text" style="width: 380px" class="form-control"
          placeholder="Tìm kiếm theo Mã sản phẩm hoặc tên sản phẩm" name="searchProduct" [(ngModel)]="searchProduct"
          (input)="finbyProductLike()">
      </div>
      <div class="grid">
        <ag-grid-angular style="width: 100%; height: 600px" class="ag-theme-alpine" [rowData]="products"
          [columnDefs]="columnDefs" [rowSelection]="rowSelection" [headerHeight]="headerHeight" [rowHeight]="rowHeight"
          [pagination]="true" [paginationPageSize]="5"></ag-grid-angular>
      </div>
    </mat-tab>

    <mat-tab label="Đang hoạt động">
      <div class="grid">
        <ag-grid-angular style="width: 100%; height: 600px" class="ag-theme-alpine" [rowData]="status0Products"
          [columnDefs]="columnDefs" [rowSelection]="rowSelection" [headerHeight]="headerHeight" [rowHeight]="rowHeight"
          [pagination]="true" [paginationPageSize]="5"></ag-grid-angular>
      </div>
    </mat-tab>
    
    <mat-tab label="Ngừng hoạt động">
      <div class="grid">
        <ag-grid-angular style="width: 100%; height: 600px" class="ag-theme-alpine" [rowData]="status1Products"
          [columnDefs]="columnDefs" [rowSelection]="rowSelection" [headerHeight]="headerHeight" [rowHeight]="rowHeight"
          [pagination]="true" [paginationPageSize]="5"></ag-grid-angular>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>