.group-block{
  display: flex;
  justify-content: space-between;
  .block{
    background-image: linear-gradient(230deg, #759bff, #843cf6);
    //background-image: linear-gradient(230deg, #759bff, #ff9999);
    width: calc(100%/3 - 20px);
    height: 160px;
    padding: 30px;
    border-radius: 15px;
    .title{
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      color: #ffffff;
      margin-bottom: 12px;
    }
    .block-item{
      display: flex;
      justify-content: space-between;
      .left{
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 8px;
        font-size: 30px;
        color: #ffffff;
      }
      .right{
        width: 48px;
        height: 48px;
      }
    }
  }
}
