<div class="container">
  <div style="text-align: center">
    <h4><strong>Chi tiết đơn hàng</strong></h4>
  </div>
  <div class="grid">
    <ag-grid-angular style="width: 100%; height: 300px" class="ag-theme-alpine" [rowData]="rowData"
      [columnDefs]="columnDefs" [headerHeight]="60" [rowHeight]="65" [suppressHorizontalScroll]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Tổng giá trị sản phẩm</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{utilService.formatMoney(totalPriceCurrent)}}</td>
        </tr>
        <tr>
          <th scope="row">Tổng số lượng sản phẩm</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{totalQuantity}}</td>
        </tr>
        <tr *ngIf="this.data.data?.codeVoucher">
          <th scope="row">Voucher</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{this.data.data?.codeVoucher}}</td>
        </tr>
        <tr *ngIf="this.data.data?.codeVoucher">
          <th scope="row">Số tiền được giảm</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{utilService.formatMoney(totalPriceCurrent - data.data?.totalPayment)}}</td>
        </tr>
        <tr>
          <th scope="row">Tổng thanh toán</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ data.data?.totalPayment !== null ? utilService.formatMoney(data.data?.totalPayment) : 0 }}</td>
        </tr>
        <tr>
          <th scope="row">Hình thức thanh toán</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ data.data?.paymentType === 0 ? 'Tiền Mặt' : 'Chuyển Khoản' }}</td>
        </tr>
        <tr>
          <th scope="row">Trạng thái thanh toán thanh toán</th>
          <td></td>
          <td></td>
          <td></td>
          <td>{{data.data?.statusPayment === 0 ? "Đã thanh toán": "Chưa thanh toán"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>