
<div class=" row">
  <div class="san-pham col-10" style="margin-top: 40px;">
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col">
            <p ><span><a style="text-decoration: none;" href="index.html">Trang Chủ</a></span>
              / <span>Sản Phẩm</span></p>
          </div>
          <img src="/assets/image/BANNER_L_N-RUNNING.jpg"  style="margin-left: 100px;" alt="">
        </div>
        
      </div>
    </div>
    <div style="margin-top: 40px;">
      <div class="container text-center">
        
        <div class="row align-items-start">
          <div style="display: flex; gap: 10px; margin-top: 50px" class="col-3" *ngFor="let p of listProductNoiBat">
            <div class="card" style="width: 18rem; ">
              <a  [routerLink]="['/product-details',p.id]">
                <img style="width: 250px; height: 330px"
                  (mouseenter)="onMouseEnter(p)"
                  (mouseleave)="onMouseLeave(p)"
                  [src]="isMouseOver[p.id] ? p.imagesDTOList[1].imageName : p.imagesDTOList[0].imageName"
                  class="card-img-top"
                  alt="..."
                >
                <span *ngIf="p.reducePrice != null && p.percentageReduce != null" class="percentage-badge">{{ p.percentageReduce }}%</span>
              </a>

              <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <div  *ngIf="p?.reducePrice == null && p?.percentageReduce == null">
                  <div  style="font-size: 25px;color: red;"><span>{{utilService.formatMoney(p?.price)}}</span></div>
                </div>
                <div *ngIf="p?.reducePrice != null && p?.percentageReduce != null">
                  <div  style="font-size: 15px; margin-top: 10px"><div style="text-decoration: line-through">{{utilService.formatMoney(p.price)}}</div></div>
                  <div style="font-size: 25px;"><span>{{utilService.formatMoney(p.price - p.reducePrice)}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

