
<div class="row my-5" style="margin-left: 12px">
  <div class="col">
    <a  class="btn btn-primary" style="width: 250px" (click)="openAdd()">Thêm đế giày</a>
    <div class="grid">
      <ag-grid-angular
        style="width: 100%; height: 550px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        [headerHeight]="headerHeight"
        [rowHeight]="rowHeight"
        [pagination]="true"
        [paginationPageSize]="10"
      ></ag-grid-angular>
    </div>
  </div>
</div>
