<h1 mat-dialog-title>Cập nhật sản phẩm</h1>

<div mat-dialog-content class="example-container" style="display: flex; flex-wrap: wrap;">

  <div style="padding-right: 10px">
    <mat-form-field appearance="outline">
      <mat-label>Tên sản phẩm</mat-label>
      <input [(ngModel)]="products.name" name="name" matInput placeholder="Tên sản phẩm"
        (keydown)="revoveInvalid(validName)" (blur)="validateName()">
      <div class="validate-input" *ngIf="!validName.done">
        <p class="validate-input-label" *ngIf="validName.empty">Tên không được để trống</p>
        <p class="validate-input-label" *ngIf="validName.maxLength">Tên sản phẩm dưới 250 kí tự</p>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mô tả</mat-label>
      <input [(ngModel)]="products.description" name="Description" matInput placeholder="Mô tả"
        (keydown)="revoveInvalid(validDescription)" (blur)="validateDescription()">
      <div class="validate-input" *ngIf="!validDescription.done">
        <p class="validate-input-label" *ngIf="validDescription.empty">Mô tả không được để trống</p>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Thương hiệu</mat-label>
      <mat-select [(ngModel)]="products.idBrand" (keydown)="revoveInvalid(validBrand)" (blur)="validateBrand()">
        <mat-option *ngFor="let br of brand" [value]="br.id">
          {{br.name}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validBrand.done">
        <p class="validate-input-label" *ngIf="validBrand.empty">Vui lòng chọn thương hiệu</p>
      </div>
    </mat-form-field>
  </div>

  <div style="padding-left: 10px; flex: 1 1 45%;">
    <mat-form-field appearance="outline">
      <mat-label>Danh mục</mat-label>
      <mat-select [(ngModel)]="products.idCategory" (keydown)="revoveInvalid(validCategory)"
        (blur)="validateCategory()">
        <mat-option *ngFor="let cate of category" [value]="cate.id">
          {{cate.name}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validCategory.done">
        <p class="validate-input-label" *ngIf="validCategory.empty">Vui lòng chọn Danh mục</p>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Đế giày</mat-label>
      <mat-select [(ngModel)]="products.idSole" (keydown)="revoveInvalid(validSole)" (blur)="validateSole()">
        <mat-option *ngFor="let sl of sole" [value]="sl.id">
          {{sl.soleMaterial}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validSole.done">
        <p class="validate-input-label" *ngIf="validSole.empty">Vui lòng chọn Đế giày</p>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Chất liệu</mat-label>
      <mat-select [(ngModel)]="products.idMaterial" (keydown)="revoveInvalid(validMaterial)"
        (blur)="validateMaterial()">
        <mat-option *ngFor="let mt of material" [value]="mt.id">
          {{mt.name}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validMaterial.done">
        <p class="validate-input-label" *ngIf="validMaterial.empty">Vui lòng chọn Chất liệu</p>
      </div>
    </mat-form-field>
  </div>

  <div style="padding-right: 10px; width: 55%;">
    <mat-radio-group [(ngModel)]="products.status" name="status">
      <mat-label style="margin-right: 10px;">Trạng thái</mat-label>
      <mat-radio-button [value]="0" style="margin-right: 5px;">Hoạt động</mat-radio-button>
      <mat-radio-button [value]="1" style="margin-left: 5px;">Ngừng hoạt động</mat-radio-button>
    </mat-radio-group>
  </div>

  <div style="padding-left: 10px; flex: 1 1 45%; width: 45%;">
    <div>
      <input type="file" (change)="OnChangeFile($event)" style="color: red">
      <!-- <p class="validate-input-label" *ngIf="validImage.empty">Ảnh không được để trống</p> -->
    </div>
  </div>
</div>

<br>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Thoát</button>
  <button mat-raised-button color="primary" (click)="clickUpdate(products.id)">Cập nhật</button>
</div>