<!-- <button mat-icon-button color="primary" (click)="openUpdate(params.id)"
  *ngIf="params.isUpdate === 0 && params.idel===0"><mat-icon>edit</mat-icon>
</button>

<button mat-icon-button color="secondary" (click)="clickDetail(params.id)">
  <mat-icon>remove_red_eye</mat-icon>
</button>

<button mat-icon-button color="warn" *ngIf="params.isUpdate === 0 && params.idel===0"
  (click)="deleteVoucher(params.id)">
  <mat-icon>delete</mat-icon>
</button>

<button mat-icon-button color="secondary">
  <mat-icon>build</mat-icon>
</button> -->

<button mat-button [matMenuTriggerFor]="menu">
  <i class="fa-solid fa-bars"></i>
</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="openUpdate(params.id)"
    *ngIf="params.isUpdate === 0 && params.idel === 0"
  >
    Cập nhật
  </button>
  <button mat-menu-item (click)="clickDetail(params.id)">Xem chi tiết</button>
  <button
    mat-menu-item
    (click)="deleteVoucher(params.id)"
    *ngIf="params.isUpdate === 0 && params.idel === 0"
  >
    Xóa
  </button>
  <button
    mat-menu-item
    (click)="updateIdel(params.id)"
    *ngIf="params.idel === 0"
  >
    Hiện thị
  </button>
  <button
    mat-menu-item
    (click)="updateIdel(params.id)"
    *ngIf="params.idel === 1"
  >
    Tắt hiện thị
  </button>
</mat-menu>
