<div class="row my-5" style="margin-left: 5px;">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col">
      <form class="rơ">
        <label class="col-sm-3 col-form-label">Tìm kiếm</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="Nhập số điện thoại ..." name="search"
            [(ngModel)]="searchStaff" (input)="finbyStaffLike()">
        </div>
      </form>
    </div>
    <div class="col" style="text-align: right;">
      <a class="btn btn-primary" style="margin-bottom: 10px" (click)="openAdd()">Thêm nhân viên</a>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Đang hoạt động">
      <div class="grid">
        <ag-grid-angular style="width: 100%; height: 550px" class="ag-theme-alpine" [rowData]="rowData1"
          [columnDefs]="columnDefs" [rowSelection]="rowSelection" [headerHeight]="headerHeight" [rowHeight]="rowHeight"
          [pagination]="true" [paginationPageSize]="10"></ag-grid-angular>
      </div>
    </mat-tab>

    <mat-tab label="Ngừng hoạt động">
      <div class="grid">
        <ag-grid-angular style="width: 100%; height: 550px" class="ag-theme-alpine" [rowData]="rowData2"
          [columnDefs]="columnDefs" [rowSelection]="rowSelection" [headerHeight]="headerHeight" [rowHeight]="rowHeight"
          [pagination]="true" [paginationPageSize]="10"></ag-grid-angular>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>