<div class="container mt-5">
  <h1 class="mb-4 text-center">Thông Tin Nhân Viên</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="fullname" class="form-label">Họ và Tên</label>
        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Nhập họ và tên"
          [(ngModel)]="staff.fullname" disabled>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Số Điện Thoại</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Nhập số điện thoại" [(ngModel)]="staff.phone"
          disabled>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email"
          [(ngModel)]="staff.email" disabled>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Tên Đăng Nhập</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên đăng nhập"
          [(ngModel)]="staff.username" disabled>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="birthday" class="form-label">Ngày Sinh</label>
        <input type="date" class="form-control" id="birthday" name="birthday" [(ngModel)]="staff.birthday" disabled>
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Giới Tính</label>
        <select class="form-select" id="gender" name="gender" [(ngModel)]="staff.gender" disabled>
          <option>Chọn giới tính</option>
          <option value="Nam" selected>Nam</option>
          <option value="Nữ">Nữ</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Quê Quán</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Nhập quê quán" [(ngModel)]="staff.description"
          disabled>
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Chức Vụ</label>
        <select class="form-select" id="role" name="role" [(ngModel)]="staff.role" disabled>
          <option value="STAFF">Nhân Viên</option>
          <option value="ADMIN" selected>Quản lý</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="idel" class="form-label">Trạng Thái</label>
        <select class="form-select" id="idel" name="idel" [(ngModel)]="staff.idel" disabled>
          <option value="0" selected>Đang hoạt động</option>
          <option value="1">Không hoạt động</option>
        </select>
      </div>
    </div>
    <!-- <div class="col-12 text-center">
      <a class="btn btn-secondary">Đóng</a>
    </div> -->
  </form>
</div>