<div>
  <div class="nav-2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid" style="display: flex;">
        <h5 style="margin: auto;font-size: x-large;"><img style="width: 180px;" src="assets/image/logo.jfif"></h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 20px; font-weight: bold; ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home" style="margin-left: 20px;">Trang Chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/sanpham" style="margin-left: 20px;">Sản Phẩm</a>
            </li>
            <li class="nav-item" *ngIf="this.infoCustomer.id === null">
              <a class="nav-link active" aria-current="page" href="/tra-cuu-don-hang"> &nbsp;Tra cứu đơn hàng</a>
            </li>
          </ul>
          <form class="d-flex" style="margin-top: 13px">
            <a routerLink="/shopping-cart" class="nav-link active" aria-current="page">
              <span style="margin-left: 30px;font-size: 10px;"
                class="position-absolute translate-middle badge rounded-pill bg-danger">
                {{totalProducts}}
              </span>
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </form>
          <div class="dropdown" style="margin-left: 5px; margin-top: 12px" *ngIf="isLoggedIn">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ infoCustomer?.fullname}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/user-profile"><i class="fa-solid fa-user"></i> Tài khoản</a>
              </li>
              <li><a class="dropdown-item" routerLink="order"><i class="fa-solid fa-bag-shopping"></i> Đơn Hàng</a></li>
              <li><a class="dropdown-item" href="/user-profile"><i class="fa-solid fa-key"></i> Đổi mật khẩu</a></li>
              <li><a class="dropdown-item" href="/login" (click)="logOut()"><i
                    class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</a></li>
            </ul>
          </div>
          <p style="margin-left: 10px; font-size: 20px; margin-top: 20px;" *ngIf="!isLoggedIn">|</p>
          <a style="margin-left: 10px; font-size: 15px; margin-top: 10px; " *ngIf="!isLoggedIn" href="/login"
            class="nav-link active" aria-current="page"> Đăng Nhập <img style="width: 20px;padding-bottom: 3px;"
              src="/assets/image/login.png" alt="" srcset=""></a>
        </div>
      </div>
    </nav>
  </div>
</div>