<div>
  <div class="nav-2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
      <div class="container-fluid" style="display: flex">
        <h5 style="margin: auto;">2T STORE</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 20px; font-weight: bold; ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home"
                 style="margin-left: 20px;">Trang Chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/sanpham"
                 style="margin-left: 20px;">Sản Phẩm</a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link active" aria-current="page" href="#"-->
<!--                 style="margin-left: 20px;">Hãng</a>-->
<!--            </li>-->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/tra-cuu-don-hang">Tra cứu đơn hàng</a>
            </li>
          </ul>
          <form class="d-flex" style="margin-top: 13px">
            <a routerLink="/shopping-cart" class="nav-link active" aria-current="page">
              <!--              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
              <!--                   class="bi bi-bag-fill" viewBox="0 0 16 16">-->
              <!--                <path-->
              <!--                  d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />-->
              <!--              </svg>-->
              <span style="margin-left: 30px;font-size: 10px;" class="position-absolute translate-middle badge rounded-pill bg-danger">
                {{totalProducts}}
              </span>
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
          </form>
          <div class="dropdown" style="margin-left: 5px; margin-top: 12px" *ngIf="isLoggedIn">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
              {{ infoCustomer?.fullname}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/user-profile"><i class="fa-solid fa-user"></i> Quản lý tài khoản</a>
              </li>
              <li><a class="dropdown-item" routerLink="order"><i class="fa-solid fa-bag-shopping"></i> Đơn mua</a></li>
              <li><a class="dropdown-item" href="/user-profile"><i class="fa-solid fa-key"></i> Đổi mật khẩu</a></li>
              <li><a class="dropdown-item" href="/login" (click)="logOut()"><i
                class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</a></li>
            </ul>
          </div>
          <p style="margin-left: 10px; font-size: 20px; margin-top: 20px;" *ngIf="!isLoggedIn">|</p>
          <a style="margin-left: 10px; font-size: 15px; margin-top: 10px; " *ngIf="!isLoggedIn" href="/login"
             class="nav-link active"
             aria-current="page"> Login</a>
          <svg *ngIf="!isLoggedIn" style="margin-left: 5px; margin-top: 10px; " xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
            <path fill-rule="evenodd"
                  d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg>
        </div>
      </div>
    </nav>
  </div>
</div>
