<h1 mat-dialog-title>Cập nhật thương hiệu</h1>
<div mat-dialog-content class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Tên thương hiệu</mat-label>
    <input matInput [(ngModel)]="data.name" placeholder="Tên thương hiệu" (keydown)="revoveInvalid(validName)" (blur)="validateName()">
    <div class="validate-input" *ngIf="!validName.done">
      <p class="validate-input-label" *ngIf="validName.empty">Tên không được để trống</p>
      <p class="validate-input-label" *ngIf="validName.maxLength">Tên màu sắc 250 kí tự</p>
    </div>
  </mat-form-field>
  <mat-radio-group [(ngModel)]="data.status">
    <mat-label>Trạng thái</mat-label>
    <mat-radio-button [value]="0">Hoạt Động</mat-radio-button>
    <mat-radio-button [value]="1">Ngừng Hoạt Động</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Đóng</button>
  <button mat-raised-button color="primary" (click)="clickUpdate(data.id)" >Cập nhật</button>
</div>
