<h1 mat-dialog-title>Thêm Voucher</h1>

<div mat-dialog-content class="example-container" style="display: flex; flex-wrap: wrap;">
  <div style="flex: 1 1 50%; padding-right: 10px;">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Tên</mat-label>
      <input matInput [(ngModel)]="Name" name="Name" placeholder="Tên" (keydown)="revoveInvalid(validName)"
        (blur)="validateName()">
      <div class="validate-input" *ngIf="!validName.done">
        <p class="validate-input-label" *ngIf="validName.empty">Tên không được để trống</p>
        <p class="validate-input-label" *ngIf="validName.maxLength">Tên sản phẩm dưới 250 kí tự</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ngày bắt đầu</mat-label>
      <input matInput type="datetime-local" [(ngModel)]="StartDate" name="StartDate" (keydown)="removeCheckStartDate()"
        (blur)="isStartDateValid()">
      <div class="validate-input">
        <p class="validate-input-label" *ngIf="checkStartDateNull">Vui lòng chọn ngày bắt đầu</p>
        <p class="validate-input-label" *ngIf="checkStartDate">Ngày bắt đầu phải lớn hơn hoặc bằng ngày hiện tại</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Ngày kết thúc</mat-label>
      <input type="datetime-local" [(ngModel)]="EndDate" name="EndDate" matInput (keydown)="removeCheckEndDate()"
        (blur)="isEndDateValid()">
      <div class="validate-input">
        <p class="validate-input-label" *ngIf="checkEndDateNull">Vui lòng chọn ngày kết thúc</p>
        <p class="validate-input-label" *ngIf="checkEndDate">Ngày kết thúc phải lớn hơn ngày bắt đầu</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Nội dung</mat-label>
      <input matInput [(ngModel)]="Description" name="Description" placeholder="Nội dung"
        (keydown)="revoveInvalid(validDescription)" (blur)="validateDescription()">
      <div class="validate-input" *ngIf="!validDescription.done">
        <p class="validate-input-label" *ngIf="validDescription.empty">Nội dung không để trống</p>
        <p class="validate-input-label" *ngIf="validDescription.maxLength">Nội dung tối đa 250 kí tự</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Điều kiện sử dụng</mat-label>
      <input matInput min="1" type="number" [(ngModel)]="ConditionApply" name="ConditionApply"
        placeholder="Điều kiện sử dụng" (input)="preventNegative($event)" (keydown)="revoveInvalid(validconditionApply)"
        (blur)="validateConditionApply()">
      <div class="validate-input" *ngIf="!validconditionApply.done">
        <p class="validate-input-label" *ngIf="validconditionApply.empty">Điều kiện sử dụng không để trống</p>
        <p class="validate-input-label" *ngIf="validconditionApply.regex">Điều kiện sử dụng phải là số dương</p>
      </div>
    </mat-form-field>
  </div>

  <div style="flex: 1 1 50%; padding-left: 10px;">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Loại voucher</mat-label>
      <mat-select matInput [(ngModel)]="VoucherType">
        <mat-option [value]="1">Theo %</mat-option>
        <mat-option [value]="0">Theo tiền</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Giá trị giảm</mat-label>
      <input min="1" matInput type="number" [(ngModel)]="ReducedValue" name="ReducedValue" placeholder="Giá trị giảm"
        (input)="preventNegative($event)" (keydown)="revoveInvalid(validReducedValue)" (blur)="validateReducedValue()">
      <div class="validate-input" *ngIf="VoucherType === 1 && ReducedValue > 100">
        <p class="validate-input-label" *ngIf="VoucherType === 1 && ReducedValue > 100">Giá trị giảm không được quá 100%
        </p>
      </div>
      <div class="validate-input" *ngIf="!validReducedValue.done">
        <p class="validate-input-label" *ngIf="validReducedValue.empty">Giá trị giảm không để trống</p>
        <p class="validate-input-label" *ngIf="validReducedValue.regex">Giá trị giảm phải là số dương</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width" *ngIf="VoucherType === 1">
      <mat-label>Giá trị giảm tối đa</mat-label>
      <input matInput min="1" type="number" [(ngModel)]="MaxReduced" name="MaxReduced" placeholder="Giá trị giảm tối đa"
        (input)="preventNegative($event)" (keydown)="revoveInvalid(validMaxReduced)" (blur)="validateMaxReducedValue()">
      <div class="validate-input" *ngIf="!validMaxReduced.done">
        <p class="validate-input-label" *ngIf="validMaxReduced.empty">Giá trị giảm tối đa không để trống</p>
        <p class="validate-input-label" *ngIf="validMaxReduced.regex">Giá trị giảm tối đa phải là số dương</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Số lượng</mat-label>
      <input matInput min="1" type="number" [(ngModel)]="Quantity" name="Quantity" placeholder="Số lượng"
        (input)="preventNegative($event)" (keydown)="revoveInvalid(validQuantity)" (blur)="validateQuantity()">
      <div class="validate-input" *ngIf="!validQuantity.done">
        <p class="validate-input-label" *ngIf="validQuantity.empty">Số lượng sử dụng không để trống</p>
        <p class="validate-input-label" *ngIf="validQuantity.regex">Số lượng phải lớn hơn 0</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Nơi áp dụng</mat-label>
      <mat-select matInput [(ngModel)]="Apply">
        <mat-option [value]="2">Tất cả mọi nơi</mat-option>
        <mat-option [value]="0">Tại cửa hàng</mat-option>
        <mat-option [value]="1">Mua online</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Khách hàng áp dụng</mat-label>
      <mat-select matInput [(ngModel)]="OptionCustomer">
        <mat-option [value]="0">Tất cả khách hàng</mat-option>
        <mat-option [value]="1">Tùy chọn</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div style="flex-basis: 100%; width: 100%;">
  <div class="form-group" *ngIf="OptionCustomer === 1" style="margin-bottom: 0;">
    <label for="customer">Khách hàng</label>
    <div class="grid">
      <ag-grid-angular style="width: 100%; height: 300px" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs" [rowSelection]="rowSelection" [headerHeight]="headerHeight" [rowHeight]="rowHeight"
        [pagination]="true" [paginationPageSize]="5" (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
  </div>

  <br>

  <mat-form-field appearance="outline" *ngIf="OptionCustomer == 1" style="width: 45%;">
    <mat-label>Giới hạn số lần sử dụng với mỗi khách hàng</mat-label>
    <input matInput type="number" [(ngModel)]="LimitCustomer" name="LimitCustomer" placeholder="Số lần sử dụng"
      (input)="preventNegative($event)" (keydown)="OptionCustomer == 1 && revoveInvalid(validLimitCustomer)"
      (blur)="validateLimitCustomer()">
    <div class="validate-input" *ngIf="OptionCustomer == 1 && !validLimitCustomer.done">
      <p class="validate-input-label" *ngIf="validLimitCustomer.empty">Số lượng sử dụng không để trống</p>
      <p class="validate-input-label" *ngIf="validLimitCustomer.regex">Số lượng phải lớn hơn 0</p>
    </div>
  </mat-form-field>
</div>

<br>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Thoát</button>
  <button mat-raised-button color="primary" (click)="addVoucher()">Thêm</button>
</div>