.example-button-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.date-filters {
  display: flex;
  align-items: center;
}

.search-box {
  flex-grow: 1;
  margin-left: 20px;
}

.grid {
  width: 100%;
  height: 500px;
}

mat-form-field {
  margin-right: 12px;
}
