.col-12 {
    font-size: medium;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
}

.col {
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-height: 180px;
    width: auto;
    border-radius: 5px;
}

.grid {
    width: 100%;
    height: 400px;
    overflow: auto;
}