<h1 mat-dialog-title>Thêm sản phẩm</h1>

<div mat-dialog-content class="example-container" style="display: flex; flex-wrap: wrap;">

  <div style="padding-right: 10px">

    <mat-form-field appearance="outline">
      <mat-label>Tên sản phẩm</mat-label>
      <input [(ngModel)]="Name" name="Name" matInput placeholder="Tên" (keydown)="revoveInvalid(validName)"
        (blur)="validateName()">
      <div class="validate-input" *ngIf="!validName.done">
        <p class="validate-input-label" *ngIf="validName.empty">Tên không được để trống</p>
        <p class="validate-input-label" *ngIf="validName.maxLength">Tên sản phẩm dưới 250 kí tự</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mô tả</mat-label>
      <input [(ngModel)]="Description" name="Description" matInput placeholder="Mô tả"
        (keydown)="revoveInvalid(validDescription)" (blur)="validateDescription()">
      <div class="validate-input" *ngIf="!validDescription.done">
        <p class="validate-input-label" *ngIf="validDescription.empty">Mô tả không được để trống</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Thương hiệu</mat-label>
      <mat-select [(ngModel)]="IdBrand" (keydown)="revoveInvalid(validBrand)" (blur)="validateBrand()">
        <mat-option *ngFor="let br of brand" [value]="br.id">
          {{br.name}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validBrand.done">
        <p class="validate-input-label" *ngIf="validBrand.empty">Vui lòng chọn thương hiệu</p>
      </div>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Giá</mat-label>
      <input [(ngModel)]="Price" name="Price" matInput placeholder="Giá" (keydown)="revoveInvalid(validPrice)"
        (blur)="validatePrice()">
      <div class="validate-input" *ngIf="!validPrice.done">
        <p class="validate-input-label" *ngIf="validPrice.empty">Giá không được để trống</p>
        <p class="validate-input-label" *ngIf="validPrice.regex">Không đúng định dạng giá phải là số dương</p>
      </div>
    </mat-form-field> -->
  </div>

  <div style="padding-left: 10px; flex: 1 1 45%;">
    <mat-form-field appearance="outline">
      <mat-label>Danh mục</mat-label>
      <mat-select [(ngModel)]="IdCategory" (keydown)="revoveInvalid(validCategory)" (blur)="validateCategory()">
        <mat-option *ngFor="let cate of category" [value]="cate.id">
          {{cate.name}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validCategory.done">
        <p class="validate-input-label" *ngIf="validCategory.empty">Vui lòng chọn Danh mục</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Đế giày</mat-label>
      <mat-select [(ngModel)]="IdSole" (keydown)="revoveInvalid(validSole)" (blur)="validateSole()">
        <mat-option *ngFor="let sl of sole" [value]="sl.id">
          {{sl.soleMaterial}} - {{sl.soleHeight}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validSole.done">
        <p class="validate-input-label" *ngIf="validSole.empty">Vui lòng chọn Đế giày</p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Chất liệu</mat-label>
      <mat-select [(ngModel)]="IdMaterial" (keydown)="revoveInvalid(validMaterial)" (blur)="validateMaterial()">
        <mat-option *ngFor="let mt of material" [value]="mt.id">
          {{mt.name}}
        </mat-option>
      </mat-select>
      <div class="validate-input" *ngIf="!validMaterial.done">
        <p class="validate-input-label" *ngIf="validMaterial.empty">Vui lòng chọn Chất liệu</p>
      </div>
    </mat-form-field>

  </div>

  <!-- <div style="padding-right: 10px; width: 55%;">
    <mat-radio-group [(ngModel)]="Status" name="Status">
      <mat-label style="padding-right: 10px;">Trạng thái</mat-label>
      <mat-radio-button [value]="0" style="margin-right: 5px;">Hoạt động</mat-radio-button>
      <mat-radio-button [value]="1" style="margin-left: 5px;">Ngừng hoạt động</mat-radio-button>
    </mat-radio-group>
  </div> -->

  <div style="padding-left: 10px; flex: 1 1 45%; width: 45%;">
    <div>
      <input type="file" (change)="OnChangeFile($event)" style="color: red">
      <p class="validate-input-label" *ngIf="validImage.empty">Ảnh không được để trống</p>
    </div>
  </div>

</div>

<br>

<div style="flex-basis: 100%; width: 55%;">
  <div *ngIf="Name">
    <h1 style="display: flex">Thêm Kích cỡ & Màu sắc</h1>
    <ng-select [items]="size" bindLabel="sizeNumber" bindValue="id" [multiple]="true" (change)="OnChangSize($event)"
      placeholder="Chọn kích thước">
    </ng-select>
    <br>
    <ng-select [items]="color" bindLabel="name" bindValue="id" [multiple]="true" (change)="OnChangColor($event)"
      placeholder="Chọn màu sắc">
    </ng-select>
    <br>
  </div>
</div>

<div mat-dialog-content class="example-container" *ngIf="productDetail && productDetail.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tên Sản Phẩm</th>
        <th scope="col">Kích thước</th>
        <th scope="col">Màu sắc</th>
        <th scope="col">Số Lượng</th>
        <th scope="col">Cổ giày</th>
        <th scope="col">Giắ</th>
        <th scope="col">Chức năng</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let prdtl of productDetail; let i = index">
        <td>{{prdtl.name}}</td>
        <td>{{prdtl.sizeDTO.sizeNumber}}</td>
        <td>{{prdtl.colorDTO.name}}</td>
        <td>
          <div>
            <input type="number" [(ngModel)]="productDetail[i].quantity" style="width: 50px">
          </div>
        </td>
        <td>
          <div>
            <ng-select [items]="listShoeCollar" bindLabel="name" bindValue="id"
              [(ngModel)]="productDetail[i].shoeCollar" [clearable]="false">
            </ng-select>
          </div>
        </td>
        <td>
          <div>
            <input type="number" [(ngModel)]="productDetail[i].price" style="width: 150px">
          </div>
        </td>
        <td>
          <button mat-icon-button color="warn" (click)="deleteProductDetail(i)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Thoát</button>
  <button mat-raised-button color="primary" (click)="clickadd()">Thêm</button>
</div>