<h1 mat-dialog-title>Thêm chất liệu</h1>

<div mat-dialog-content class="example-container">

  <mat-form-field appearance="outline">

    <mat-label>Tên chất liệu</mat-label>
    <input [(ngModel)]="Name" name="Name" matInput placeholder="Tên chất liệu" (keydown)="revoveInvalid(validName)"
      (blur)="validateName()">
    <div class="validate-input" *ngIf="!validName.done">
      <p class="validate-input-label" *ngIf="validName.empty">Tên không được để trống</p>
      <p class="validate-input-label" *ngIf="validName.maxLength">Tên màu sắc 250 kí tự</p>
    </div>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mô tả</mat-label>
    <input [(ngModel)]="Description" name="Description" matInput placeholder="Mô tả"
      (keydown)="revoveInvalid(validDescription)" (blur)="validateDescription()">
    <div class="validate-input" *ngIf="!validDescription.done">
      <p class="validate-input-label" *ngIf="validDescription.empty">Mô tả không được để trống</p>
    </div>
  </mat-form-field>

  <mat-radio-group [(ngModel)]="Status" name="Status">
    <mat-label style="margin-right: 10px;">Trạng thái</mat-label>
    <mat-radio-button [value]="0" style="margin-right: 5px;">Hoạt Động</mat-radio-button>
    <mat-radio-button [value]="1" style="margin-left: 5px;">Ngừng Hoạt Động</mat-radio-button>
  </mat-radio-group>

</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Thoát</button>
  <button mat-raised-button color="primary" (click)="clickadd()">Thêm</button>
</div>