<h1 mat-dialog-title>Thêm chất liệu</h1>
<div mat-dialog-content class="example-container">
  <mat-form-field appearance="outline">
    <mat-label>Tên chất liệu</mat-label>
    <input [(ngModel)]="Name" name="Name" matInput placeholder="Tên chất liệu" (keydown)="revoveInvalid(validName)" (blur)="validateName()">
    <div class="validate-input" *ngIf="!validName.done">
      <p class="validate-input-label" *ngIf="validName.empty">Tên không được để trống</p>
      <p class="validate-input-label" *ngIf="validName.maxLength">Tên màu sắc 250 kí tự</p>
    </div>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mô tả</mat-label>
    <input [(ngModel)]="Description" name="Description" matInput placeholder="Mô tả" (keydown)="revoveInvalid(validDescription)" (blur)="validateDescription()">
    <div class="validate-input" *ngIf="!validDescription.done">
      <p class="validate-input-label" *ngIf="validDescription.empty">Mô tả không được để trống</p>
    </div>
  </mat-form-field>
  <mat-radio-group [(ngModel)]="Status" name="Status">
    <mat-label>Trạng thái</mat-label>
    <mat-radio-button [value]="0">Hoạt Động</mat-radio-button>
    <mat-radio-button [value]="1">Ngừng Hoạt Động</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>CLOSE</button>
  <button mat-raised-button color="primary" (click)="clickadd()">ADD</button>
</div>
