<div class="container">
  <!-- Phần cảm ơn -->
  <div class="row">
    <div class="col-md-12" style="display: flex;justify-content: center">
      <div>
        <div>
          <h3 style="margin-left: 70px">Đặt Hàng thành công</h3>
          <p style="margin-left: -30px">Đơn hàng của bạn chắc chắn đã được chuyển tới hệ thống xử lý đơn hàng.</p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Phần thông tin người nhận hàng và danh sách sản phẩm -->
  <div class="row">
    <!-- Thông tin người nhận hàng -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2>Thông tin nhận hàng Nhận Hàng</h2>
          <p>Tên: {{order?.receiver}}</p>
          <p>Địa chỉ: {{order?.addressReceived}}</p>
          <p>Số điện thoại: {{order?.receiverPhone}}</p>
          <p>Email: {{order?.email}}</p>
          <p>Hình thức thanh toán: {{order?.paymentType === 1? 'Thanh toán online': 'Thanh toán COD'}}</p>
        </div>
      </div>
    </div>

    <!-- Danh sách sản phẩm -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2>Đơn Hàng {{order?.code}}</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Sản Phẩm</th>
                <th scope="col">Phân loại hàng</th>
                <th scope="col">Giá tiền</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of listCart; let i = index">
                <th scope="row">
                  {{i + 1}}
                </th>
                <td><img width="80px" height="80px" src="{{c.productDTO.imageURL}}" alt=""> <span class="productName"
                    title="{{c.productName}}">{{c.productName}}</span></td>
                <td>
                  <div><span style="font-weight: bold">Color:</span> {{c.productDetailDTO?.colorDTO.name}}</div>
                  <div><span style="font-weight: bold">Size: </span> {{c.productDetailDTO?.sizeDTO.sizeNumber}}</div>
                </td>
                <td>
                  <div>
                    <span
                      style="margin-left: 5px">{{c.productDetailDTO.price | number:'1.0-0'}}</span>
                  </div>
                </td>
                <td> {{c.quantity}}</td>
                <th>
                  <div><span style="margin-left: 5px">{{calculateTotal(c.productDetailDTO.price,c.quantity)}}</span></div>
                </th>
              </tr>
            </tbody>
          </table>

          <p>Tổng cộng: {{order?.totalPrice | number:'1.0-0'}} đ</p>
          <p>Tiền ship: {{order?.shipPrice + order?.voucherFreeshipReduct | number:'1.0-0'}} đ</p>
          <p>Tiền giảm giá: - {{order?.voucherReduct | number:'1.0-0'}} đ</p>
          <p>Tiền giảm giá ship: - {{order?.voucherFreeshipReduct | number:'1.0-0'}} đ</p>
          <p>Tổng cộng thanh toán: {{order?.totalPayment + order?.shipPrice | number:'1.0-0'}} đ</p>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>